
.about_up{
    position: relative;
    background-color: #3a3a3a;
    width: 100%;
    height: 500px;
}

.qrcode{
    position: absolute;
    bottom: 0px;
    right: 0px;
}




.bigmember{
    position: relative;
    top: 150px;
    /* left: 150px; */
    right: 60px;
    width: fit-content;
}
.bigmember h1{
    font-size: 60px;
    /* background-color: #3a3a3a; */
    /* color: aliceblue; */
    width: 105%;
    text-align: center;
    margin-bottom: 50px;
}
.midmember{
    display: flex;
    width: 105%;
    justify-content: center;
    margin-bottom: 80px;
}
.membercontent{
    position: relative;
    margin-left: 60px;
}
.membercontent span{
    width: 100%;
    
    padding: 10px;
    position: absolute;
    top: 270px;
    left: 0px;
    text-align: center;
    background-color: #959086;
    transform: rotate(-10deg);
}   
.memback{
    
    width: 300px;
    transform: rotate(10deg);
    z-index: -1;
}
.mem{
    
    position: absolute;
    top: 20px;
    left: 70px;
    width: 200px;
}
.about h1{
    position:absolute;
    top: 30%;
    color: white;
    letter-spacing: 2px;
    font-size:50px;
    font-family: STCaiyun;
    animation-name:move-right ;
    animation-duration: 6s;    
    animation-delay: 0.5s;  
    animation-fill-mode: forwards;  
    
}
@keyframes move-right {
    from { left: 0; }
    to { left: 50%; }
 
}
.midabout{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutcontent span{
    text-align: center;
    border-radius: 5px;
    color: white;
    padding: 20px;
    line-height: 1.8;
    position: absolute;
    top: 50%;
    animation-name:move-left ;
    animation-duration: 6s;    
    animation-delay: 0.5s;  
    animation-fill-mode: forwards;  
}

@keyframes move-left {
    from { right: 0; }
    to {right: 50%; }
 
}
.aboutcontent span:hover{
    transform: scale(1.2,1.2);
    transition: all 1s ease-out;
}
.aboutflex{
    display: flex;
    flex-direction: column;
    align-items: center;
}