@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}*/


.Center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  position: fixed;
  top: 27%;
  display: flex;
  flex-direction: column;
}

nav a {
  text-align: center;
  text-decoration: none;
}

nav a span {
  color: #3a3a3a;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}

nav:hover a span {
  color: #3a3a3a;
}

nav a:hover span {
  color: #3a3a3a;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;

}

nav a span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: rgba(0, 0, 0, 0.1);

  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}

nav a span:hover:before {
  content: attr(data-texto);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}

nav a span:before {

  background: #545151;
  color: #EEF0F2;

}

header {
  z-index: 5;
}

.PERFUMEMORY {
  display: flex;
  position: fixed;
  left: 2%;
  float: left;
}

/*漢堡開始*/
.burgerline {
  display:flex;
}

label {
  display: block;
}

.burgerbotton {
  display: none;
}

#burger:checked+.burgerline {
  display: block;
}

/*漢堡結尾*/
.s1 {
  position: relative;
  top: 500px;
}

footer {
  background-color: #dddddd;
  color: #444444;
  text-align: center;
  padding: 10px;
}