

dialog{
    background: url("https://p4.wallpaperbetter.com/wallpaper/1017/684/942/surface-light-stripes-lines-wallpaper-preview.jpg") no-repeat center center / cover;
}

.frame {
    border-style: double;
    width: 230px;
    padding: 15px 30px 3px 30px;
}

.frame .login .item {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 10px 0px;
}

.frame .login .item input {
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.frame .login .push {
    width: 100%;
    display: flex;
    margin: auto;
    font-size: 0px;
    padding: 20px 0px;
}

.frame .login .push button {
    padding: 5px 0px;
    width: 70%;
    font-size: 18px;
    border: gray;
    background-color: rgb(185, 183, 178);
    border-radius: 20px;
    cursor: pointer;
}

.frame .login .push button {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.frame .login .push button:hover {
    background-color: rgba(100, 100, 100, 0.2);
}

.frame .login .push button+button {
    margin-left: 20%;
}

.new {
    align-items: center;
}